<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
    <system.webServer> 
        <staticContent> 
            <mimeMap fileExtension=".mjs" mimeType="application/javascript" /> 
            <mimeMap fileExtension=".ftl" mimeType="text/plain" /> 
        </staticContent> 
    </system.webServer> 
  
    <location path="ngsw.json"> 
        <system.webServer> 
            <staticContent> 
                <clientCache cacheControlMode="DisableCache" /> 
            </staticContent> 
            <httpProtocol> 
                <customHeaders> 
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" /> 
                </customHeaders> 
            </httpProtocol> 
        </system.webServer> 
    </location> 

  

    <location path="index.html"> 
        <system.webServer> 
            <staticContent> 
                <clientCache cacheControlMode="DisableCache" /> 
            </staticContent> 
            <httpProtocol> 
                <customHeaders> 
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" /> 
                </customHeaders> 
            </httpProtocol> 
        </system.webServer> 
    </location> 

  

    <location path="ngsw-worker.js"> 
        <system.webServer> 
            <staticContent> 
                <clientCache cacheControlMode="DisableCache" /> 
            </staticContent> 
            <httpProtocol> 
                <customHeaders> 
                    <add name="Cache-Control" value="no-cache, no-store, must-revalidate" /> 
                </customHeaders> 
            </httpProtocol> 
        </system.webServer> 
    </location> 
</configuration>
